In [5]:
import sqlite3
def create_table():  
    conn = sqlite3.connect("lite.db")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")   
    conn.commit()
    conn.close()

In [6]:
def insert(item, quantity, price):
    conn = sqlite3.connect("lite.db")
    cur = conn.cursor()
    cur.execute("INSERT INTO store VALUES (?,?,?)", (item, quantity, price))
    conn.commit()
    conn.close()

In [7]:
insert("water Glass", 10, 12)

In [8]:
insert("Coffee Cup", 2, 3.8)

In [9]:
def view():
    conn = sqlite3.connect("lite.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM store")
    rows = cur.fetchall()
    conn.close()
    return rows

In [10]:
print(view())

[('Wine Glass', 8, 10.5), ('Wine Glass', 8, 10.5), ('water Glass', 10, 12.0), ('Coffee Cup', 2, 3.8)]

In [12]:
def delete(item):
    conn = sqlite3.connect("lite.db")
    cur = conn.cursor()
    cur.execute("DELETE FROM store WHERE item=?", (item, ))
    conn.commit()
    conn.close()

In [13]:
delete("Wine Glass")

In [14]:
print(view())

[('water Glass', 10, 12.0), ('Coffee Cup', 2, 3.8)]

In [15]:
def update(quantity, price, item):
    conn = sqlite3.connect("lite.db")
    cur = conn.cursor()
    cur.execute("UPDATE store SET quantity=?, price=? WHERE item=?",(quantity, price, item))
    conn.commit()
    conn.close()

In [18]:
update(11,6,"water Glass")

In [19]:
print(view())

[('water Glass', 11, 6.0), ('Coffee Cup', 2, 3.8)]